
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Nav and Search Bar */
body{

  background: #dee1de;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}
.logo {
  color: #333;;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100px;
}
.group{
  display: flex;
  align-items: center;
}
header ul {
  position: relative;
  display: flex;
  gap: 30px;
}
header ul li {
  list-style: none;
}
header ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
header ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #72bcd2;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header ul li a:hover::before
{
  transform: scaleX(1);
  transform-origin: left;
}
header .search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 10;
  cursor: pointer;
}
.searchBox {
  position: absolute;
right: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}
.searchBox.active{
  right: 0;
}
.searchBtn{
  position: relative;
  left: 30px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
}
.searchBtn.active{
  left: 0;
  
}
.closeBtn{
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
}
.closeBtn.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
}
.menuToggle {
  position: relative;
  display: none;
}
/* make it responsive */
@media (max-width: 800px)
{ 
  .searchBtn {
    left: 0;

  }
  .menuToggle {
    position: absolute;
    display: block;
    font-size: 2em;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 10;
  }
  header .navbar {
position: absolute;
opacity: 0;
visibility: hidden;
left: 100%;
  }
  header.open .navbar {
top: 80px;
opacity: 1;
visibility: visible;
left: 0;
display: flex;
flex-direction: column;
background: #fff;
width: 100%;
height: calc(100vh - 80px);
padding: 40px;
border-top: 1px solid rgba(0,0,0,0.05);
  }
  header.open .navbar li a {
    font-size: 1.25em;
  }
  .hide {
    display: none;
  }
}


.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  color: #333;
  font-size: 1.25em;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.5);

}
/* end of nav bar and search bar */







/* DONATE BUTTON*/
  .donate {
    background: #4cb7a5;
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,0.4) 100%),
                -webkit-linear-gradient(left, lighten(#00684d, 15%) 0%, #00684d 50%, lighten(#00684d, 15%) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.4) 100%),
                linear-gradient(to right, lighten(#00684d, 15%) 0%, #00684d 50%, lighten(#00684d, 15%) 100%);
    background-position: 0 0;
    background-size: 200% 100%;
    border-radius: 40px;
    color: black;
    padding: 20px;
    text-shadow: 1px 1px 5px #666;
    -webkit-transition: all 800ms;
    transition: all 800ms;
    opacity: 70%;
    justify-content: center;
   margin-left: 50px;
    
    
    &:after {
      border-left: 1px solid darken(#00684d, 5%);
      color: darken(#00684d, 10%);
      content: "\f004";
      font: 20px "FontAwesome";
      padding: 10px 0;
      padding-left: 15px;
      position: absolute;
      right: 16px;
      top: 7px;    
      -webkit-transition: all 600ms 200ms;
      transition: all 600ms 200ms;
    }
    
    &:hover {
      background-position: -100% 0;
      
      &:after {
        border-left: 1px solid lighten(#00684d, 5%);
        color: #fff;
        text-shadow: 0 0 10px #000;
      }
    }
  }
/* Staff */
#staff {
    text-align: center;
    color: #36454F;
    margin-right: 30px;
    text-shadow: 3px 3px white;
}
/* Team Pictures */
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
      justify-content: center;
      margin: 200px;
      padding: 20px;
  
      
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
  .jen {
    height: 190px;
  
  }
  .nic {
    height: 190px;
  }
  .des {
    height: 190px;
  }
  .syd {
    height: 190px;
  }
  .dom {
    height: 190px;
  }
  

  /* Styling the body */
  body {
    margin: 0;
    padding: 0;
}
/* Styling section, giving background
    image and dimensions */
section {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background-size: cover;
}

 /* Styling the left floating section */
 section .leftBox {
  width: 50%;
  height: 100%;
  float: left;
  padding: 50px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  text-align: justify;
  margin-top: 80px;
 
}

/* Styling the background of
  left floating section */
section .leftBox .content {
  color: Black;
  background: white;
  padding: 40px;
  transition: .5s;
  opacity: 60%;
}



/* Styling the header of left
  floating section */
section .leftBox .content h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}
  /* Styling the three events section */
  section .events {
      position: relative;
      width: 50%;
      height: 100%;
      background: transparent;
      float: right;
      box-sizing: border-box;
  }
  /* Styling the links of
  the events section */
  section .events ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 40px;
      box-sizing: border-box;
      opacity: 60%;
  }
  /* Styling the lists of the event section */
  section .events ul li {
      list-style: none;
      background: #fff;
      box-sizing: border-box;
      height: 200px;
      margin: 15px 0;
  }
  /* Styling the time class of events section */
  section .events ul li .time {
      position: relative;
      padding: 20px;
      background:#ffc8c3;
      box-sizing: border-box;
      width: 30%;
      height: 100%;
      float: left;
      text-align: center;
      transition: .5s;
  }
  /* Styling the hover effect
      of events section */
  section .events ul li:hover .time {
      background: #4CB7A5;
      opacity: 50%;
  }
  /* Styling the header of time
      class of events section */
      section .events ul li .time h2 {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 60px;
      line-height: 30px;
  }
  /* Styling the texts of time
  class of events section */
  section .events ul li .time h2 span {
      font-size: 22px;
  }
  /* Styling the details
  class of events section */
  section .events ul li .details {
      padding: 20px;
      background: #fff;
      box-sizing: border-box;
      width: 70%;
      height: 100%;
      float: left;
  }
/* Styling the header of the
  details class of events section */
  section .events ul li .details h3 {
      position: relative;
      margin: 0;
      padding: 0;
      font-size: 17px;
  }
  /* Styling the lists of details
  class of events section */
  section .events ul li .details p {
      position: relative;
      margin: 10px 0 0;
      padding: 0;
      font-size: 12px;
      text-align: justify;
  }
  /* Styling the links of details
  class of events section */
  section .events ul li .details a {
      display: inline-block;
      text-decoration: none;
      padding: 8px 7px;
      border: 1.5px solid #262626;
      margin-top: 5px;
      font-size: 13px;
      transition: .5s;
      border-radius: 50px;
  }
  /* Styling the details class's hover effect */
  section .events ul li .details a:hover {
      background: lightpink;
      color:  black;
      border-color:  lightcoral;
      opacity: 50%;
  }
#e{
text-align: center;
font-size: 30px;
color: black;
opacity: 70%;
}



#addy {
  margin-left: 100px;
  font-size: 12px;
}

#copyright{
  margin-left: 1000px;
  font-size: 12px;
}

footer{
  background-color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;

}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
 
}
.fa-instagram {
  background: pink;
  color: white;

}

#start{
  text-align: center;
  color: #36454F;
    text-shadow: 3px 3px white;
}

#para1{
  border: 20px;
  text-align: justify;
  text-align: center;
}

#para2{
  text-align: justify;
  text-align: center;
  border: 20px;
}